@import url(fonts/chatype.css);
@import url(fonts/fontawesome.css);
@import url(fonts/ubuntu-light.css);

*
{
	margin: 0px;
}

body
{
	color: #333;
	font-size: 18px;
	font-family: ubuntu-light, calibri, sans-serif;
	
	background-size: cover;
	background-image: url("chattanooga.jpg");
}

#container
{
	margin: auto;
	overflow: auto;
	/*min-width: 320px;*/
	max-width: 960px;
	min-height: 100vh;
	padding: 0rem 2rem;
	
	border-width: 1px;
	border-color: #333;
	border-style: dotted;
	border-top: none;
	border-bottom: none;
	
	background-position: center;
	background-image: url("hoffman.png");
	background-color: rgba(192, 192, 192, 0.25);
}

h1
{
	margin: 2rem 0em;
	
	font-size: 4em;
	text-align: center;
	font-family: chatype;
}



#anchor
{
	position: relative;
}

#right
{
	top: 0px;
	right: 0px;
	width: 50%;
	bottom: 0px;
	padding-left: 1em;
	position: absolute;
	box-sizing: border-box;
}

#left
{
	width: 50%;
	min-height: 135px;
	padding-right: 1em;
	box-sizing: border-box;
}

@media(max-width: 572px)
{
	#left
	{
		width: auto;
		padding-right: 0em;
	}
	
	#right
	{
		width: auto;
		position: static;
		padding-left: 0em;
		margin-bottom: 2em;
	}
}

#left.only
{
	width: auto;
	padding-right: 0px;
}



button
{
	display: block;
	margin: 2rem auto;
	padding: 1em 1.5em;
	
	color: #EFEFEF;
	font-size: inherit;
	font-family: inherit;
	
	border-width: 2px;
	border-radius: 6px;
	border-style: solid;
	border-color: #D43F3A;
	
	cursor: pointer;
	background-color: #D9534F;
}

#edit > h2
{
	font-size: 2em;
	text-align: center;
	font-weight: normal;
}

#edit > span
{
	font-size: 2em;
	line-height: 1em;
}

#edit > span:hover
{
	cursor: pointer;
	text-decoration: underline;
}

#edit > textarea
{
	width: 100%;
	height: 5em;
	resize: none;
	display: block;
	padding: 0.5em;
	margin-top: 0.5em;
	border-radius: 6px;
	box-sizing: border-box;
	
	font-size: inherit;
	font-family: inherit;
}

#view > ul
{
	padding: 0px;
	list-style-type: none;
}

#view > ul > li
{
	padding: 0.45em;
	
	border-width: 1px;
	border-color: #CCC;
	border-style: solid;
	border-bottom: none;
	border-bottom: none;
	
	background-color: #EFEFEF;
}

#view > ul > li:hover
{
	cursor: pointer;
	background-color: #F8F8F8;
}

#view > ul > li.selected
{
	background-color: #FFF;
}

#view > ul > li:first-of-type
{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#view > ul > li:last-of-type
{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}